<div class="row justify-content-center gap-3 px-3">
  <input
    #textoBusca
    [(ngModel)]="textoDigitado"
    class="col-9 rounded-4"
    placeholder="Qual pokemon deseja buscar?"
    type="text"
  />
  <button
    *ngIf="!buscaRealizada"
    (click)="onBuscar(textoBusca.value)"
    class="col-lg btn btn-lg btn-primary rounded-5"
  >
    Buscar
  </button>
  <div *ngIf="buscaRealizada" class="d-flex justify-content-center my-2">
    <button
      (click)="onLimpar()"
      class="btn btn-lg btn-outline-primary rounded 4"
    >
      Limpar resultados
    </button>
  </div>
</div>
